@import url(../styles/index.css);

body>* {
	display: flex;
	justify-content: center;
	margin: 2rem auto;
}

div>*:not(:last-child) {
	margin-right: 0.5rem;
}

input.char {
	text-transform: uppercase;
	width: 50px;
	padding: 6px;
}

button {
	padding: 4px 10px;
}

table {
	border-width: 10px;
}

/* #charset {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 0.5rem;
		padding: 10px;
		text-align: center;
	} */

#charset {
	display: flex;
	flex-wrap: wrap;
	overflow-x: auto;
	padding: 10px;
	text-align: center;
}

#charset div {
	cursor: pointer;
	/* padding: 10px; */
}

#charset div:hover {
	background: #ddd;
}

#charset div>* {
	margin: 0.125rem auto;
}