@import url(./page.css);

/* color themes */
@import url(./themes.css);

/* layout */
.pixsim *,
.pixsim *::before,
.pixsim *::after {
	padding: 0;
	margin: 0;
	line-height: 0.25rem;
	user-select: none;
	box-sizing: border-box;
}

.pixsim {
	--pixel-size: 10px;
	gap: 1rem;
	flex-direction: column;
}

.pixsim {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pixsim .grid {
	border: 5px solid var(--grid-border);
	background-color: var(--grid-bg);
}

.pixsim .grid > div {
	display: flex;
	flex-wrap: nowrap;
}

.pixsim .pixel {
	width: var(--pixel-size);
	height: var(--pixel-size);
	/* border: 1px solid var(--pixel-border); */
	background: var(--pixel-off);
	margin-left: var(--pixel-gap);
	margin-top: var(--pixel-gap);
	display: inline-block;
}

.pixsim .pixel:last-child {
	margin-right: var(--pixel-gap);
}

.pixsim .grid > div:last-child .pixel {
	margin-bottom: var(--pixel-gap);
}

.pixsim .pixel.on {
	background: var(--pixel-on);
}

.pixsim .pixel.active:hover {
	background: var(--pixel-hover);
}

.pixsim input:not(input[type=checkbox]) {
	width: 60px;
}

.pixsim input,
.pixsim select {
	padding: 4px 8px;
}

.pixsim button {
	padding: 0.65rem;
	width: 100%;
}

.pixsim .error {
	display: none;
	padding: 4px 6px;
	border: 1px solid rgb(211, 84, 84);
	background-color: rgb(235, 168, 168);
}

.pixsim .controls {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 5px;
	max-width: 450px;
	padding-bottom: 10px;
}

.pixsim .controls * {
	display: flex;
	align-items: center;
	justify-content: center;
}
